{% extends "layout.html" %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-4">
        <div class="card p-4 shadow border-0">
            <h4 class="text-center mb-4 fw-bold">Sign In</h4>
            
            {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
            {% endif %}

            <form method="POST">
                <div class="mb-3">
                    <label class="form-label text-muted">Email Address</label>
                    <input type="email" name="email" class="form-control" required>
                </div>
                <div class="mb-4">
                    <label class="form-label text-muted">Password</label>
                    <input type="password" name="password" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary w-100 py-2 rounded-pill" style="background-color: #0078ad;">Proceed</button>
            </form>
            
            <p class="mt-4 text-center text-muted">
                New to JioMart? <a href="/register" class="text-decoration-none fw-bold" style="color: #0078ad;">Register</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}